{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "ignorePatterns": ["src/vendor/*.js"],
  "rules": {
    "class-methods-use-this": "off",
    "max-len": ["error", {
      "code": 100
    }],
    "no-bitwise": "off",
    "no-console": "off",
    "no-continue": "off",
    "no-mixed-operators": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "prefer-destructuring": "off",
    "quote-props": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/lines-between-class-members": ["error", "always", {
      "exceptAfterSingleLine": true
    }],
    "@typescript-eslint/no-unused-vars": ["error", {
      "argsIgnorePattern": "^_"
    }]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
